{% extends "base.html" %}

{% block content %}

<div class="hero">

  <!-- LEFT SIDE -->
  <div class="hero-left">
    <h1 class="animated-text">🚀 Master DSA Smartly</h1>
    <p>
      Track your progress, maintain streaks, and focus on weak topics with AI-powered insights.
    </p>
  </div>

  <!-- RIGHT SIDE -->
  <div class="hero-right">
    <h2>Get Started</h2>

    <a href="/login">
      <button>Login</button>
    </a>

    <a href="/signup">
      <button class="secondary">Signup</button>
    </a>
  </div>

</div>

{% endblock %}